@page "/courseregister"

<EditForm Model="@courseRegister" class="w-50 mx-auto" OnInvalidSubmit="@Submit" OnValidSubmit="@ValidSubmit">
    <DataAnnotationsValidator />
    <h3>Course Register Form</h3>
    <div class="form-group mb-3">
        <label for="">Full Name *</label>
        <input class="form-control" @bind="@courseRegister.FullName" placeholder="Enter your full name">
        <ValidationMessage For="@(() => courseRegister.FullName)" class="text-danger" />
    </div>
    <div class="form-group mb-3">
        <label for="">Email *</label>
        <input type="email" class="form-control" @bind="@courseRegister.Email" placeholder="Enter your email">
        <ValidationMessage For="@(() => courseRegister.Email)" class="text-danger" />
    </div>
    <div class="form-group mb-3">
        <label for="">Phone Number *</label>
        <input type="tel" class="form-control" @bind="@courseRegister.PhoneNumber"
            placeholder="Enter your phone number">
        <ValidationMessage For="@(() => courseRegister.PhoneNumber)" class="text-danger" />
    </div>
    <div class="form-group mb-3">
        <label for="">Select Course *</label>
        <div class="position-relative">
            <select class="form-control" @bind="@courseRegister.SelectCourse">
            <option value="">Choose.. </option>
            @foreach (var course in SelectCourse.lstCourse)
            {
                <option value="@course">@course</option>
            }
            </select>
            <i class="fa fa-chevron-down position-absolute" style="top: 50%; right: 15px; transform: translateY(-50%); pointer-events: none;"></i>
        </div>
        
        <ValidationMessage For="@(() => courseRegister.SelectCourse)" class="text-danger" />
    </div>

    <div class="form-group mb-3">
        <label for="">Study Mode *</label>
        <div>
            <input class="form-check-input" name="studymode" type="radio" id="online"
                @bind="@courseRegister.StudyMode" />
            <label class="form-check-label" for="online">Online</label>

            <input class="form-check-input" name="studymode" type="radio" id="offline"
                @bind="@courseRegister.StudyMode" />
            <label class="form-check-label" for="offline">Offline</label>
        </div>


        <ValidationMessage For="@(() => courseRegister.StudyMode)" class="text-danger" />
    </div>

    <div class="form-group mb-3">
        <label for="">Start Day *</label>
        <input class="form-control" type="date" @bind="@courseRegister.StartDay">
        <ValidationMessage For="@(() => courseRegister.StartDay)" class="text-danger" />
    </div>
    <div class="form-group mb-3">
        <label for="">Comment *</label>
        <textarea class="form-control" rows="4" @bind="@courseRegister.Comment" placeholder="Enter any additional information"/>
        <ValidationMessage For="@(() => courseRegister.Comment)" class="text-danger" />
    </div>
    <div class="form-group mb-3 d-flex">
        <input type="checkbox" class="form-check-input" @bind="@courseRegister.TermsAndConditions">
        <label class="form-check-table">I agree to the tems and conditions * </label>
        <ValidationMessage For="@(() => courseRegister.TermsAndConditions)" class="text-danger text-end" />
    </div>
    <div class="form-group mb-3">
        <button type="submit" class="btn btn-primary">Register</button>
        @if(!string.IsNullOrEmpty(Message))
        {
            <div class="alert-success">@Message</div>
        }
    </div>
</EditForm>

@code {
    public CourseRegisterForm courseRegister = new CourseRegisterForm();
    public string Message;
    public void Submit()
    {
        Console.WriteLine("Form is invalid");
        string Notify = JsonSerializer.Serialize(courseRegister);
        Console.WriteLine(Notify);
    }

    public void ValidSubmit()
    {
        Message = "Your message has been successfully submitted";
        Console.WriteLine(JsonSerializer.Serialize(courseRegister));
    }
}
using Microsoft.Extensions.Options;
